
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@TempData["Title"]</title>
</head>
<body style="color:red">
    <div style="width:300px; margin:100px auto;">
        出错了~~~~~~
        <br />
        @TempData["Error"]
    </div>
</body>
</html>
