
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@TempData["Title"]</title>

    @*<link href="~/a_dmin/skin/bootstrap.min.css?v=3.3.6" rel="stylesheet">
        <link href="~/a_dmin/skin/font-awesome.min.css?v=4.4.0" rel="stylesheet">
        <link href="~/a_dmin/skin/animsition.css" rel="stylesheet">
        <link href="~/a_dmin/skin/animate.css" rel="stylesheet">
        <link href="~/a_dmin/skin/layout.css?v=1.0.0" rel="stylesheet">
        <link href="~/a_dmin/skin/nav.css?v=1.0.0" rel="stylesheet">*@

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    @*<script src="~/dist/layer.js"></script>*@
    @*
        <!-- 全局js -->
        <script src="~/a_dmin/js/jquery.min.js?v=2.1.4"></script>
        <script src="~/a_dmin/js/bootstrap.min.js?v=3.3.6"></script>*@
</head>
<body>
    @RenderBody()
</body>

@*
    <script src="~/a_dmin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/a_dmin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/a_dmin/js/plugins/layer/layer.min.js"></script>
    <!-- 自定义js -->
    <script src="~/a_dmin/js/wuiplus.js?v=1.0.0"></script>
    <script src="~/a_dmin/js/contabs.js"></script>
*@
</html>
